@model (List<GPU.Models.StaticalTableModel> student,GPU.Models.StaticalTableModel table)

@{
    ViewData["Title"] = "لیستی ئەرشیفی خوێندکاران";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4 class="Title">لیستی ئەرشیف</h4>
<form method="post" asp-controller="Archive" asp-action="Search">
    <div class="StaticSearchBar">
        <div class="Static-ColOne">
            <input asp-for="table.Name"
                   name="table.Name"
                   id="searchInput"
                   class="StaticalNameTXT Span2"
                   placeholder="ناوی خوێندکار" />

            <select asp-for="table.Department" name="table.Department"
                    class="StaticalNameTXT">
                <option value="-">بەش</option>
                <option value="پەرستاری">پەرستاری</option>
                <option value="تەکنیکی ڤێتەرنەری">تەکنیکی ڤێتەرنەری</option>
                <option value="تەکنەلۆجیای زانیاری">تەکنەلۆجیای زانیاری</option>
                <option value="ڕوو پێوی">ڕوو پێوی</option>
                <option value="کارگێری کار">کارگێری کار</option>
                <option value="پرۆژە کشتوکاڵیەکان">پرۆژە کشتوکاڵیەکان</option>
            </select>
            <select asp-for="table.Age" name="table.Age" class="StaticalNameTXT">
                <option value="0" class="YearOptions">تەمەن</option>

                @for (int year = 1980; year <= DateTime.Now.Year - 16; year++)
                {
                    <option value="@year" class="YearOptions">@year</option>
                }
            </select>
            <select asp-for="table.MartialStatus" name="table.MartialStatus" class="StaticalNameTXT">
                <option value="-">ڕەوشی کەسێتی</option>
                <option value="سەڵت">سەڵت</option>
                <option value="خێزاندار">خێزاندار</option>
                <option value="جیابووە">جیابووە</option>
            </select>
            <select asp-for="table.Religion" name="table.Religion" class="StaticalNameTXT">
                <option value="-">ئاین</option>
                <option value="ئیسلام">ئیسلام</option>
                <option value="مەسیحی">مەسیحی</option>
                <option value="جوو">جوو</option>
                <option value="زەردەشتی">زەردەشتی</option>
                <option value="زەردەشتی">یارسانی</option>

            </select>
            <select asp-for="table.Nationality" name="table.Nationality" class="StaticalNameTXT">
                <option value="-">نەتەوە</option>
                <option value="کورد">کورد</option>
                <option value="عەرەب">عەرەب</option>
                <option value="تورکمان">تورکمان</option>
            </select>
            <select asp-for="table.SchoolGraduation" name="table.SchoolGraduation" class="StaticalNameTXT">
                <option value="-" class="YearOptions">ساڵی دەرچوونی پۆلی ١٢</option>

                @for (int year = DateTime.Now.Year; year >= 1995; year--)
                {
                    int yr = year - 1;
                    string yrr = $"{@year} - {@yr}";
                    <option value="@yrr" class="YearOptions">@year - @yr </option>
                }
            </select>
            <select asp-for="table.EducationType" name="table.EducationType" class="StaticalNameTXT">
                <option value="-">لق</option>
                <option value="زانستی">زانستی</option>
                <option value="وێژەیی">وێژەیی</option>
                <option value="پیشەیی">پیشەیی</option>
            </select>
            <select asp-for="table.Province" name="table.Province" class="StaticalNameTXT">
                <option value="-">پارێزگا</option>
                <option value="گەرمیان">گەرمیان</option>
                <option value="سلێمانی">سلێمانی</option>
                <option value="هەولێر">هەولێر</option>
                <option value="کەرکووک">کەرکووک</option>
                <option value="دیالە">دیالە</option>
            </select>
            <select asp-for="table.AcceptanceType" name="table.AcceptanceType" class="StaticalNameTXT">
                <option value="-">جۆری خوێندن</option>
                <option value="زانکۆلاین">زانکۆلاین</option>
                <option value="پاراڵیل">پاراڵیل</option>
                <option value="ئێواران">ئێواران</option>

            </select>
            <select asp-for="table.Stage" name="table.Stage" class="StaticalNameTXT">
                <option value="0" class="YearOptions">قۆناغ</option>
                <option value="1" class="YearOptions">1</option>
                <option value="2" class="YearOptions">2</option>
            </select>
            <select asp-for="table.ResidenceType" name="table.ResidenceType" class="StaticalNameTXT">
                <option value="-" class="YearOptions">بەشەناوخۆی</option>
                <option value="نەخێر" class="YearOptions">نەخێر</option>
                <option value="بەڵی" class="YearOptions">بەڵێ</option>
            </select>

            <select asp-for="table.Sex" name="table.Sex" class="StaticalNameTXT">
                <option value="-" class="YearOptions">رەگەز</option>
                <option value="نێر" class="YearOptions">نێر</option>
                <option value="مێ" class="YearOptions">مێ</option>
            </select>
            <select asp-for="table.StartingYear" name="table.StartingYear" class="StaticalNameTXT">
                <option value="-" class="YearOptions">ساڵی دەستپێک</option>

                @for (int year = DateTime.Now.Year + 1; year >= 1995; year--)
                {
                    int yr = year - 1;
                    string yrr = $"{@year} - {@yr}";
                    <option value="@yrr" class="YearOptions">@year - @yr </option>
                }
            </select>

            <select asp-for="table.Graduation" name="table.Graduation" class="StaticalNameTXT">
                <option value="0" class="YearOptions">ساڵی کۆتای</option>
                @for (int year = DateTime.Now.Year; year >= 1995; year--)
                {
                    int yr = year - 1;
                    string yrr = $"{@year} - {@yr}";

                    <option value="@yrr" class="YearOptions">@year - @yr </option>
                }
            </select>
        </div>
        <div class="Static-ColTow">
            <button class="SBttn"
                    type="submit">
                &#xF78B;
            </button>
            <button  asp-controller="Archive" asp-action="Search" class="SBttn" asp-route-DoPrint="@true">
                &#xEC51;
            </button>
            <button asp-controller="Archive" asp-action="Search" asp-route-doSearch="@false">
                &#xE711;
            </button>
        </div>

    </div>

</form>
<div class="content">

    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th class="FirstColumn">
                        زنجیرە
                    </th>
                    <th class="Header ">
                        @Html.DisplayNameFor(model => model.table.Name)
                    </th>
                    <th class="Header">
                        @Html.DisplayNameFor(model => model.table.AcceptanceType)
                    </th>
                    <th class="Header">
                        @Html.DisplayNameFor(model => model.table.Department)
                    </th>
                    <th class="Header">
                        @Html.DisplayNameFor(model => model.table.StartingYear)
                    </th>
                    <th class="Header">
                        @Html.DisplayNameFor(model => model.table.Stage)
                    </th>
                    <th class="lastColumn">
                        @Model.student.Count()

                    </th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td class="r1" />
                    <td class="r1" />
                    <td class="r1" />
                    <td class="r1" />
                    <td class="r1" />
                    <td class="r1" />
                </tr>
                @{
                    int x = 0;
                }
                @foreach (var item in Model.student)
                {
                    x++;

                    <tr>
                        <td class="DgColumn @(item.isFirst ? "RowOneColumnOne" :"")">
                            @x
                        </td>
                        <td class="DgColumn ">
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td class="DgColumn">
                            @Html.DisplayFor(modelItem => item.AcceptanceType)
                        </td>
                        <td class="DgColumn">
                            @Html.DisplayFor(modelItem => item.Department)
                        </td>

                        <td class="DgColumn">
                            @Html.DisplayFor(modelItem => item.StartingYear)
                        </td>
                        <td class="DgColumn">
                            @Html.DisplayFor(modelItem => item.Stage)
                        </td>
                        <td class="DgColumn @(item.isFirst ? "RowOneColumnLast" :"")">
                            <a asp-action="GetEdit"
                               asp-route-id="@item.id"
                               class="DgActionBttn">
                                <span class="Segoe DgA">&#xEB7E;</span>
                            </a>
                            <a asp-controller="Print"
                               asp-action="DoArchiveLoadPrint"
                               asp-route-id="@item.id"
                               class="DgActionBttn">
                                <span class="Segoe DgA">&#xE749;</span>
                            </a>
                            <a asp-action="Details"
                               asp-route-id="@item.id"
                               class="DgActionBttn">
                                <span class="Segoe DgA">&#xE779;</span>
                            </a>
                        </td>

                    </tr>
                }

            </tbody>

        </table>
    </div>
</div>
