@model IEnumerable<GPU.Models.StudentTableModel>

@{
    ViewData["Title"] = "لیستی خوێندکاران";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4 class="Title">لیستی ئەرشیف</h4>
<div class="content">

    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th class="Header FirstColumn">
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th class="Header">
                        @Html.DisplayNameFor(model => model.Acceptance)
                    </th>
                    <th class="Header">
                        @Html.DisplayNameFor(model => model.department)
                    </th>
                    <th class="Header">
                        @Html.DisplayNameFor(model => model.StartingYear)
                    </th>
                    <th class="Header">
                        @Html.DisplayNameFor(model => model.Stage)
                    </th>

                    <th class="Header lastColumn"></th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td class="r1" />
                    <td class="r1" />
                    <td class="r1" />
                    <td class="r1" />
                    <td class="r1" />
                    <td class="r1" />
                </tr>
                @foreach (var item in Model)
                {

                    <tr>
                        <td class="DgColumn @(item.isFirst ? "RowOneColumnOne" :"")">
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td class="DgColumn">
                            @Html.DisplayFor(modelItem => item.Acceptance)
                        </td>
                        <td class="DgColumn">
                            @Html.DisplayFor(modelItem => item.department)
                        </td>

                        <td class="DgColumn">
                            @Html.DisplayFor(modelItem => item.StartingYear)
                        </td>
                        <td class="DgColumn">
                            @Html.DisplayFor(modelItem => item.Stage)
                        </td>
                        <td class=" @(item.isFirst ? "RowOneColumnLast" :"")">
                            <a asp-action="Details" asp-route-id="@item.id" class="SubActions">زانیاریەکان</a>
                        </td>

                    </tr>
                }

            </tbody>

        </table>
    </div>
</div>
