@model (GPU.Models.PersonalStudent PersonalStudent, GPU.Models.StudentContactInfo StudentContactInfo,GPU.Models.StudentParentInfo StudentParentInfo,GPU.Models.Student12Grade Student12Grade,GPU.Models.StudentDepartmentInfo StudentDepartmentInfo,InvoiceInfo InvoiceInfo,StudentSupport studentSupport,List<WebProperties> props,List<UsersAccessToDepsModel> access)
@using System.Security.Claims;

@{
    ViewData["Title"] = "تۆمارکردن";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="pivot-container">
    <nav class="pivot-nav">
        <a href="#tab1" onclick="OntabClick(1)" class="pivot-tab active ActiveBG" id="pivot-tab1">زانیاری کەسی</a>
        <a href="#tab2" onclick="OntabClick(2)" class="pivot-tab active" id="pivot-tab2">زانیاری پەیوەندیکردن</a>
        <a href="#tab3" onclick="OntabClick(3)" class="pivot-tab active" id="pivot-tab3">زانیاری بەخێوکەر</a>
        <a href="#tab4" onclick="OntabClick(4)" class="pivot-tab active" id="pivot-tab4">زانیاری پۆلی ١٢</a>
        <a href="#tab5" onclick="OntabClick(5)" class="pivot-tab active" id="pivot-tab5">بەڵێننامە</a>
        <a href="#tab6" onclick="OntabClick(6)" class="pivot-tab active" id="pivot-tab6">زانیاری جۆری وەرگرتن</a>
    </nav>
    <form method="post" class="" asp-action="Create" id="infoForm" enctype="multipart/form-data">
        <div id="1" class="pivot-content active ">
            <div class="form-container element element">
                <div class="form-group">
                    <label asp-for="PersonalStudent.Name" class="control-label"></label>
                    <input asp-for="PersonalStudent.Name" name="PersonalStudent.Name" class="form-control" />
                    <span asp-validation-for="PersonalStudent.Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PersonalStudent.Age" class="control-label"></label>
                    <select asp-for="PersonalStudent.Age" name="PersonalStudent.Age" class="form-control YearSelect">
                        @for (int year = 1980; year <= DateTime.Now.Year - 16; year++)
                        {
                            <option value="@year" class="YearOptions">@year</option>
                        }
                    </select>
                    <span asp-validation-for="PersonalStudent.Age" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="PersonalStudent.Sex" class="control-label"></label>
                    <select asp-for="PersonalStudent.Sex" name="PersonalStudent.Sex" class="form-control">
                        <option value="نێر">نێر</option>
                        <option value="مێ">مێ</option>
                    </select>
                    <span asp-validation-for="PersonalStudent.Sex" class="text-danger"></span>

                </div>

                <div class="form-group">

                    <label asp-for="PersonalStudent.MartialStatus" class="control-label"></label>
                    <select asp-for="PersonalStudent.MartialStatus" name="PersonalStudent.MartialStatus" class="form-control">
                        @foreach (var item in Model.props.Where(x => x.propType.Contains("MartialStatus") && x.isActive == true))
                        {
                            <option value="@item.Name">@item.Name</option>
                        }
                    </select>
                    <span asp-validation-for="PersonalStudent.MartialStatus" class="text-danger"></span>

                </div>

                <div class="form-group">
                    <label asp-for="PersonalStudent.BloodGroup" class="control-label"></label>
                    <select asp-for="PersonalStudent.BloodGroup" name="PersonalStudent.BloodGroup" class="form-control">
                        <option value="-">دیاری نەکراو</option>
                        <option value="A+">A+</option>
                        <option value="A-">A-</option>
                        <option value="B+">B+</option>
                        <option value="B-">B-</option>
                        <option value="AB+">AB+</option>
                        <option value="AB-">AB-</option>
                        <option value="O+">O+</option>
                        <option value="O-">O-</option>
                    </select>
                    <span asp-validation-for="PersonalStudent.BloodGroup" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="PersonalStudent.Religion" class="control-label"></label>
                    <select asp-for="PersonalStudent.Religion" id="skip" name="PersonalStudent.Religion" class="form-control">
                        <option value="-">دیاری نەکراو</option>
                        @foreach (var item in Model.props.Where(x => x.propType.Contains("Religion") && x.isActive == true))
                        {
                            <option value="@item.Name">@item.Name</option>
                        }
                    </select>

                    <span asp-validation-for="PersonalStudent.Religion" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="PersonalStudent.IdentityNo" class="control-label"></label>
                    <input asp-for="PersonalStudent.IdentityNo" name="PersonalStudent.IdentityNo" class="form-control" />
                    <span asp-validation-for="PersonalStudent.IdentityNo" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="PersonalStudent.Nationality" class="control-label"></label>
                    <select asp-for="PersonalStudent.Nationality" name="PersonalStudent.Nationality" class="form-control">
                        <option value="-">دیاری نەکراو</option>
                        @foreach (var item in Model.props.Where(x => x.propType.Contains("Nationality") && x.isActive == true))
                        {
                            <option value="@item.Name">@item.Name</option>
                        }
                    </select>
                    <span asp-validation-for="PersonalStudent.Nationality" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="PersonalStudent.RationingFormNo" class="control-label"></label>
                    <input asp-for="PersonalStudent.RationingFormNo" id="skip" name="PersonalStudent.RationingFormNo" class="form-control" />
                    <span asp-validation-for="PersonalStudent.RationingFormNo" class="text-danger"></span>

                </div>
                <div class="form-group">
                    <label asp-for="PersonalStudent.PersonalPicture" class="control-label"></label>
                    <input type="file" id="skip" asp-for="PersonalStudent.PersonalPicture" name="PersonalStudent.PersonalPicture" accept="image/*">
                </div>
            </div>
        </div>
        <div id="2" class="pivot-content">

            <div class="form-container element element">
                <div class="form-group">
                    <label asp-for="StudentContactInfo.Phone" class="control-label"></label>
                    <input asp-for="StudentContactInfo.Phone" name="StudentContactInfo.Phone" class="form-control" />
                    <span asp-validation-for="StudentContactInfo.Phone" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="StudentContactInfo.StudentEmail" class="control-label"></label>
                    <input asp-for="StudentContactInfo.StudentEmail" id="skip" name="StudentContactInfo.StudentEmail" class="form-control" />
                    <span asp-validation-for="StudentContactInfo.StudentEmail" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="StudentContactInfo.Province" class="control-label"></label>
                    <select asp-for="StudentContactInfo.Province" name="StudentContactInfo.Province" class="form-control">

                        @foreach (var item in Model.props.Where(x => x.propType.Contains("Province") && x.isActive == true))
                        {
                            <option value="@item.Name">@item.Name</option>
                        }
                    </select>
                    <span asp-validation-for="StudentContactInfo.Province" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="StudentContactInfo.City" class="control-label"></label>
                    <input asp-for="StudentContactInfo.City" id="skip" name="StudentContactInfo.City" class="form-control" />
                    <span asp-validation-for="StudentContactInfo.City" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="StudentContactInfo.District" class="control-label"></label>
                    <input asp-for="StudentContactInfo.District" id="skip" name="StudentContactInfo.District" class="form-control" />
                    <span asp-validation-for="StudentContactInfo.District" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="StudentContactInfo.Village" class="control-label"></label>
                    <input asp-for="StudentContactInfo.Village" id="skip" name="StudentContactInfo.Village" class="form-control" />
                    <span asp-validation-for="StudentContactInfo.Village" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div id="3" class="pivot-content">

            <div class="form-container element element">

                <div class="form-group">
                    <label asp-for="StudentParentInfo.Name" class="control-label"></label>
                    <input asp-for="StudentParentInfo.Name" name="StudentParentInfo.Name" class="form-control" />
                    <span asp-validation-for="StudentParentInfo.Name" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="StudentParentInfo.Profession" class="control-label"></label>
                    <input asp-for="StudentParentInfo.Profession" name="StudentParentInfo.Profession" class="form-control" />
                    <span asp-validation-for="StudentParentInfo.Profession" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="StudentParentInfo.Phone" class="control-label"></label>
                    <input asp-for="StudentParentInfo.Phone" name="StudentParentInfo.Phone" class="form-control" />
                    <span asp-validation-for="StudentParentInfo.Phone" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="StudentParentInfo.Email" class="control-label"></label>
                    <input asp-for="StudentParentInfo.Email" id="skip" name="StudentParentInfo.Email" class="form-control" />
                    <span asp-validation-for="StudentParentInfo.Email" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="StudentParentInfo.CardInfoNo" class="control-label"></label>
                    <input asp-for="StudentParentInfo.CardInfoNo" id="skip" name="StudentParentInfo.CardInfoNo" class="form-control" />
                    <span asp-validation-for="StudentParentInfo.CardInfoNo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="StudentParentInfo.CardInfoIssuePlace" class="control-label"></label>
                    <input asp-for="StudentParentInfo.CardInfoIssuePlace" id="skip" name="StudentParentInfo.CardInfoIssuePlace" class="form-control" />
                    <span asp-validation-for="StudentParentInfo.CardInfoIssuePlace" class="text-danger"></span>
                </div>
               
            </div>
        </div>
        <div id="4" class="pivot-content">

            <div class="form-container element element">
                <div class="form-group">
                    <label asp-for="Student12Grade.ExamNo" class="control-label"></label>
                    <input asp-for="Student12Grade.ExamNo" name="Student12Grade.ExamNo" class="form-control" />
                    <span asp-validation-for="Student12Grade.ExamNo" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Student12Grade.SchoolName" class="control-label"></label>
                    <input asp-for="Student12Grade.SchoolName" name="Student12Grade.SchoolName" class="form-control" />
                    <span asp-validation-for="Student12Grade.SchoolName" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Student12Grade.EducationAdministrator" class="control-label"></label>
                    <select asp-for="Student12Grade.EducationAdministrator" name="Student12Grade.EducationAdministrator" class="form-control">
                        @foreach (var item in Model.props.Where(x => x.propType.Contains("EducationAdministrator") && x.isActive == true))
                        {
                            <option value="@item.Name">@item.Name</option>
                        }

                    </select>
                    <span asp-validation-for="Student12Grade.EducationAdministrator" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Student12Grade.EducationType" class="control-label"></label>
                    <select asp-for="Student12Grade.EducationType" name="Student12Grade.EducationType" class="form-control">
                        <option value="زانستی">زانستی</option>
                        <option value="وێژەیی">وێژەیی</option>
                        <option value="پیشەیی">پیشەیی</option>
                    </select>
                    <span asp-validation-for="Student12Grade.EducationType" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Student12Grade.Graduation" class="control-label"></label>
                    <select asp-for="Student12Grade.Graduation" name="Student12Grade.Graduation" class="form-control YearSelect">
                        @for (int year = DateTime.Now.Year; year >= 1995; year--)
                        {
                            int yr = year - 1;
                            string yrr = $"{@year} - {@yr}";
                            <option value="@yrr" class="YearOptions">@year - @yr </option>
                        }
                    </select>
                    <span asp-validation-for="Student12Grade.Graduation" class="text-danger"></span>
                </div>


                <div class="form-group">
                    <label asp-for="Student12Grade.TotalMark" class="control-label"></label>
                    <input asp-for="Student12Grade.TotalMark" name="Student12Grade.TotalMark" class="form-control" />
                    <span asp-validation-for="Student12Grade.TotalMark" class="text-danger"></span>
                </div>
              
            </div>
        </div>
        <div id="5" class="pivot-content">
            <div class="form-container element element">
                <div class="form-group">
                    <label asp-for="studentSupport.office" class="control-label"></label>
                    <input asp-for="studentSupport.office" maxlength="30" placeholder="نموونە:- ب.پ گەرمیان" name="studentSupport.office" class="form-control" />
                    <span asp-validation-for="studentSupport.office" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="studentSupport.WrittenNo" class="control-label"></label>
                    <input asp-for="studentSupport.WrittenNo" name="studentSupport.WrittenNo" class="form-control" />
                    <span asp-validation-for="studentSupport.WrittenNo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="studentSupport.WrittenDate" class="control-label"></label>
                    <input asp-for="studentSupport.WrittenDate" type="date" id="WrittenDate" name="studentSupport.WrittenDate" class="form-control" />
                    <span asp-validation-for="studentSupport.WrittenDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="studentSupport.Amount" class="control-label"></label>
                    <input asp-for="studentSupport.Amount" name="studentSupport.Amount" class="form-control" />
                    <span asp-validation-for="studentSupport.Amount" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div id="6" class="pivot-content">
            <div class="form-container element element">
                <div class="form-group">
                    <label asp-for="StudentDepartmentInfo.Department" class="control-label"></label>
                    <select asp-for="StudentDepartmentInfo.Department" name="StudentDepartmentInfo.Department" class="form-control">
                        @foreach (var item in Model.props.Where(
                        x => x.propType.Contains("Department") && x.isActive))
                        {
                            if (Model.access.Any(x => x.depid == item.id && x.usrid.ToString() == User.FindFirst(ClaimTypes.NameIdentifier)?.Value))
                            {
                                <option value="@item.Name">@item.Name</option>
                            }
                        }
                    </select>
                    <span asp-validation-for="StudentDepartmentInfo.Department" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="StudentDepartmentInfo.AcceptanceType" class="control-label"></label>
                    <select asp-for="StudentDepartmentInfo.AcceptanceType"
                            name="StudentDepartmentInfo.AcceptanceType"
                            class="form-control"
                            onchange="Acceptance()"
                            id="AcceptanceSelection">
                        <option value="زانکۆلاین">زانکۆلاین</option>
                        <option value="پاراڵیل">پاراڵیل</option>
                        <option value="ئێواران">ئێواران</option>

                    </select>
                    <span asp-validation-for="StudentDepartmentInfo.AcceptanceType" class="text-danger"></span>


                </div>
                <div class="form-group">
                    <label asp-for="StudentDepartmentInfo.UniversityCommandNo" class="control-label"></label>
                    <input asp-for="StudentDepartmentInfo.UniversityCommandNo" id="ARequired" name="StudentDepartmentInfo.UniversityCommandNo" class="form-control" />
                    <span asp-validation-for="StudentDepartmentInfo.UniversityCommandNo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="StudentDepartmentInfo.AdministratorCommandNo" class="control-label"></label>
                    <input asp-for="StudentDepartmentInfo.AdministratorCommandNo" id="BRequired" name="StudentDepartmentInfo.AdministratorCommandNo" class="form-control" />
                    <span asp-validation-for="StudentDepartmentInfo.AdministratorCommandNo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="StudentDepartmentInfo.Seq" class="control-label"></label>
                    <input asp-for="StudentDepartmentInfo.Seq" name="StudentDepartmentInfo.Seq" class="form-control" />
                    <span asp-validation-for="StudentDepartmentInfo.Seq" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="StudentDepartmentInfo.Stage" class="control-label"></label>
                    <select asp-for="StudentDepartmentInfo.Stage" name="StudentDepartmentInfo.Stage" class="form-control YearSelect">
                        <option value="1" class="YearOptions">1</option>
                        <option value="2" class="YearOptions">2</option>
                    </select>
                    <span asp-validation-for="StudentDepartmentInfo.Stage" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="StudentDepartmentInfo.ResidenceType" class="control-label"></label>
                    <select asp-for="StudentDepartmentInfo.ResidenceType" name="StudentDepartmentInfo.ResidenceType" class="form-control YearSelect">
                        <option value="نەخێر" class="YearOptions">نەخێر</option>
                        <option value="بەڵی" class="YearOptions">بەڵێ</option>
                    </select>
                    <span asp-validation-for="StudentDepartmentInfo.ResidenceType" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="StudentDepartmentInfo.startinYear" class="control-label"></label>
                    <select asp-for="StudentDepartmentInfo.startinYear" name="StudentDepartmentInfo.startinYear" class="form-control ">
                        @for (int year = DateTime.Now.Year + 1; year >= 1995; year--)
                        {
                            int yr = year - 1;
                            string yrr = $"{@year} - {@yr}";
                            <option value="@yrr" class="YearOptions">@year - @yr </option>
                        }
                    </select>
                    <span asp-validation-for="StudentDepartmentInfo.startinYear" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="StudentDepartmentInfo.Graduate" class="control-label"></label>
                    <select asp-for="StudentDepartmentInfo.Graduate" name="StudentDepartmentInfo.Graduate" class="form-control ">
                        <option value="0" class="YearOptions">بەردەوامە</option>
                        @for (int year = DateTime.Now.Year; year >= 1995; year--)
                        {
                            int yr = year - 1;
                            string yrr = $"{@year} - {@yr}";

                            <option value="@yrr" class="YearOptions">@year - @yr </option>
                        }
                    </select>
                    <span asp-validation-for="StudentDepartmentInfo.Graduate" class="text-danger"></span>
                </div>
                <div class="form-group hidden" id="InvoiceID">
                    <label asp-for="InvoiceInfo.InvoiceId" class="control-label"></label>
                    <input asp-for="InvoiceInfo.InvoiceId" type="number" value="" id="txtinvoiceid" name="InvoiceInfo.InvoiceId" class="form-control " />
                    <span asp-validation-for="InvoiceInfo.InvoiceId" class="text-danger"></span>
                </div>
                <div class="form-group hidden" id="InvoiceDate">
                    <label asp-for="InvoiceInfo.InvoiceDate" class="control-label"></label>
                    <input asp-for="InvoiceInfo.InvoiceDate" type="date" id="invoicedate" name="InvoiceInfo.InvoiceDate" class="form-control " />
                    <span asp-validation-for="InvoiceInfo.InvoiceDate" class="text-danger"></span>
                </div>
                <div class="form-group hidden" id="InvoiceAmount">
                    <label asp-for="InvoiceInfo.Amount" class="control-label"></label>
                    <input asp-for="InvoiceInfo.Amount" type="number" value="100000" id="amount" min="100000" max="9999999999" name="InvoiceInfo.Amount" class="form-control " />
                    <span asp-validation-for="InvoiceInfo.Amount" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="StudentDepartmentInfo.OtherFiles" class="control-label"></label>
                    <input type="file" asp-for="StudentDepartmentInfo.OtherFiles" name="StudentDepartmentInfo.OtherFiles" accept=".pdf, image/jpeg, image/png, image/gif" multiple>
                </div>
                <script>
                    document.addEventListener('DOMContentLoaded', function () {
                        const dateInput = document.getElementById('invoicedate');
                        const writtenDate = document.getElementById('WrittenDate');

                        // Get today's date in YYYY-MM-DD format
                        const today = new Date().toISOString().split('T')[0];

                        // Set the input's value to today's date
                        dateInput.value = today;
                        writtenDate.value = today;
                    });

                </script>
            </div>
            <div class="FormsActionbttn">
                <button type="submit" class="SaveStudentBttn ">تۆمار کردن</button>
            </div>
        </div>
    </form>
</div>

