@model (GPU.Models.PersonalStudent PersonalStudent, GPU.Models.StudentContactInfo StudentContactInfo,GPU.Models.StudentParentInfo StudentParentInfo,GPU.Models.Student12Grade Student12Grade,GPU.Models.StudentDepartmentInfo StudentDepartmentInfo,InvoiceInfo InvoiceInfo,StudentSupport studentSupport)

@{
    ViewData["Title"] = "پرۆفایلی خوێندکار";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="DeContainer">

    <div class="DetailContainer">
        <div class="Col">
            <h3>زانیاری کەسی</h3>
            <hr />
            @{
                string imageSrc = null;

                using (var stream = new MemoryStream())
                {
                    IFormFile form = await GPU.Helpers.ImagesHelper.GetProfileImageAsFormFile(Model.PersonalStudent.Id.ToString(), 0);
                    if (form != null)
                    {

                        // Copy the IFormFile data into a stream
                        await form.CopyToAsync(stream);
                        var base64Image = Convert.ToBase64String(stream.ToArray());
                        imageSrc = $"data:{form.ContentType};base64,{base64Image}";
                    }
                }
                if (imageSrc != null)
                {
                    <div class="imgparent">
                        <img class="ProFilePic" src="@imageSrc" alt="Student Picture" />
                    </div>
                }
            }
            <div class="PropInfo">
                <h5>
                    @Html.DisplayNameFor(model => model.PersonalStudent.Name)
                </h5>
                <h4>
                    @Html.DisplayFor(model => model.PersonalStudent.Name)
                </h4>
            </div>
            <div class="PropInfo">
                <h5>
                    @Html.DisplayNameFor(model => model.PersonalStudent.IdentityNo)
                </h5>
                <h4 class="hTXT">
                    @Html.DisplayFor(model => model.PersonalStudent.IdentityNo)
                </h4>
            </div>
            <div class="PropInfo">
                <h5>
                    @Html.DisplayNameFor(model => model.PersonalStudent.RationingFormNo)
                </h5>
                <h4>
                    @Html.DisplayFor(model => model.PersonalStudent.RationingFormNo)
                </h4>
            </div>
            <div class="OneRowTowColumn">

                <div class="PropInfo">
                    <h5>
                        @Html.DisplayNameFor(model => model.PersonalStudent.Age)
                    </h5>
                    <h4 class="hTXT">
                        @Html.DisplayFor(model => model.PersonalStudent.Age)
                    </h4>
                </div>
                <div class="PropInfo">
                    <h5>
                        @Html.DisplayNameFor(model => model.PersonalStudent.MartialStatus)
                    </h5>

                    <h4 class="hTXT">
                        @Html.DisplayFor(model => model.PersonalStudent.MartialStatus)
                    </h4>
                </div>
            </div>
            <div class="OneRowTowColumn">
                <div class="PropInfo">
                    <h5>
                        @Html.DisplayNameFor(model => model.PersonalStudent.Sex)
                    </h5>
                    <h4 class="hTXT">
                        @Html.DisplayFor(model => model.PersonalStudent.Sex)
                    </h4>

                </div>
                <div class="PropInfo">

                    <h5>
                        @Html.DisplayNameFor(model => model.PersonalStudent.BloodGroup)
                    </h5>
                    <h4 class="hTXT">
                        @Html.DisplayFor(model => model.PersonalStudent.BloodGroup)
                    </h4>
                </div>
            </div>
            <div class="OneRowTowColumn">

                <div class="PropInfo">
                    <h5>
                        @Html.DisplayNameFor(model => model.PersonalStudent.Religion)
                    </h5>
                    <h4 class="hTXT">
                        @Html.DisplayFor(model => model.PersonalStudent.Religion)
                    </h4>
                </div>
                <div class="PropInfo">

                    <h5>
                        @Html.DisplayNameFor(model => model.PersonalStudent.Nationality)
                    </h5>
                    <h4 class="hTXT">
                        @Html.DisplayFor(model => model.PersonalStudent.Nationality)
                    </h4>
                </div>
            </div>
        </div>
        <div class="Col">
            <h3>زانیاری پەیوەندی کردن</h3>
            <hr />
            <div class="topProp">
                <h5>
                    @Html.DisplayNameFor(model => model.StudentContactInfo.Phone)
                </h5>
                <h4 class="hTXT">
                    @Html.DisplayFor(model => model.StudentContactInfo.Phone)
                </h4>
            </div>

            <div class="PropInfo">
                <h5>
                    @Html.DisplayNameFor(model => model.StudentContactInfo.StudentEmail)
                </h5>
                <h4 class="hTXT">
                    @Html.DisplayFor(model => model.StudentContactInfo.StudentEmail)
                </h4>
            </div>

            <div class="PropInfo">
                <h5>
                    @Html.DisplayNameFor(model => model.StudentContactInfo.Province)
                </h5>
                <h4 class="hTXT">
                    @Html.DisplayFor(model => model.StudentContactInfo.Province)
                </h4>
            </div>

            <div class="PropInfo">
                <h5>
                    @Html.DisplayNameFor(model => model.StudentContactInfo.City)
                </h5>
                <h4 class="hTXT">
                    @Html.DisplayFor(model => model.StudentContactInfo.City)
                </h4>
            </div>

            <div class="PropInfo">
                <h5>
                    @Html.DisplayNameFor(model => model.StudentContactInfo.District)
                </h5>
                <h4 class="hTXT">
                    @Html.DisplayFor(model => model.StudentContactInfo.District)
                </h4>
            </div>

            <div class="PropInfo">
                <h5>
                    @Html.DisplayNameFor(model => model.StudentContactInfo.Village)
                </h5>
                <h4 class="hTXT">
                    @Html.DisplayFor(model => model.StudentContactInfo.Village)
                </h4>
            </div>
        </div>
        <div class="Col">
            <h3>زانیاری بەخێوکەر</h3>
            <hr />
            <div class="topProp">
                <h5>
                    @Html.DisplayNameFor(model => model.StudentParentInfo.Name)
                </h5>
                <h4 class="hTXT">
                    @Html.DisplayFor(model => model.StudentParentInfo.Name)
                </h4>
            </div>

            <div class="PropInfo">
                <h5>
                    @Html.DisplayNameFor(model => model.StudentParentInfo.Profession)
                </h5>
                <h4 class="hTXT">
                    @Html.DisplayFor(model => model.StudentParentInfo.Profession)
                </h4>
            </div>

            <div class="PropInfo">
                <h5>
                    @Html.DisplayNameFor(model => model.StudentParentInfo.Phone)
                </h5>
                <h4 class="hTXT">
                    @Html.DisplayFor(model => model.StudentParentInfo.Phone)
                </h4>
            </div>


            <div class="PropInfo">
                <h5>
                    @Html.DisplayNameFor(model => model.StudentParentInfo.Email)
                </h5>
                <h4 class="hTXT">
                    @Html.DisplayFor(model => model.StudentParentInfo.Email)
                </h4>
            </div>

            <div class="PropInfo">
                <h5>
                    @Html.DisplayNameFor(model => model.StudentParentInfo.CardInfoNo)
                </h5>
                <h4 class="hTXT">
                    @Html.DisplayFor(model => model.StudentParentInfo.CardInfoNo)
                </h4>
            </div>

            <div class="PropInfo">
                <h5>
                    @Html.DisplayNameFor(model => model.StudentParentInfo.CardInfoIssuePlace)
                </h5>
                <h4 class="hTXT">
                    @Html.DisplayFor(model => model.StudentParentInfo.CardInfoIssuePlace)
                </h4>
            </div>
        </div>
        <div class="Col">
            <h3>زانیاری پۆلی ١٢</h3>
            <hr />
            <div class="topProp">
                <h5>
                    @Html.DisplayNameFor(model => model.Student12Grade.ExamNo)
                </h5>
                <h4 class="hTXT">
                    @Html.DisplayFor(model => model.Student12Grade.ExamNo)
                </h4>
            </div>

            <div class="PropInfo">
                <h5>
                    @Html.DisplayNameFor(model => model.Student12Grade.SchoolName)
                </h5>
                <h4 class="hTXT">
                    @Html.DisplayFor(model => model.Student12Grade.SchoolName)
                </h4>
            </div>

            <div class="PropInfo">
                <h5>
                    @Html.DisplayNameFor(model => model.Student12Grade.EducationAdministrator)
                </h5>
                <h4 class="hTXT">
                    @Html.DisplayFor(model => model.Student12Grade.EducationAdministrator)
                </h4>
            </div>

            <div class="PropInfo">
                <h5>
                    @Html.DisplayNameFor(model => model.Student12Grade.EducationType)
                </h5>
                <h4 class="hTXT">
                    @Html.DisplayFor(model => model.Student12Grade.EducationType)
                </h4>
            </div>


            <div class="PropInfo">
                <h5>
                    @Html.DisplayNameFor(model => model.Student12Grade.Graduation)
                </h5>
                <h4 class="hTXT">
                    @Html.DisplayFor(model => model.Student12Grade.Graduation)
                </h4>
            </div>
            <div class="PropInfo">
                <h5>
                    @Html.DisplayNameFor(model => model.Student12Grade.TotalMark)
                </h5>
                <h4 class="hTXT">
                    @Html.DisplayFor(model => model.Student12Grade.TotalMark)
                </h4>
            </div>
        </div>
        <div class="Col">
            <h3>گەرەنتیدەر</h3>
            <hr />
            <div class="topProp">
                <h5>
                    @Html.DisplayNameFor(model => model.studentSupport.office)
                </h5>
                <h4 class="hTXT">
                    @Html.DisplayFor(model => model.studentSupport.office)
                </h4>
            </div>

            <div class="topProp">
                <h5>
                    @Html.DisplayNameFor(model => model.studentSupport.WrittenNo)
                </h5>
                <h4 class="hTXT">
                    @Html.DisplayFor(model => model.studentSupport.WrittenNo)
                </h4>
            </div>
            <div class="topProp">
                <h5>
                    @Html.DisplayNameFor(model => model.studentSupport.WrittenDate)
                </h5>
                <h4 class="hTXT">
                    @Html.DisplayFor(model => model.studentSupport.WrittenDate)
                </h4>
            </div>
            <div class="topProp">
                <h5>
                    @Html.DisplayNameFor(model => model.studentSupport.Amount)
                </h5>
                <h4 class="hTXT">
                    @Html.DisplayFor(model => model.studentSupport.Amount)
                </h4>
            </div>
        </div>
        <div class="Col">
            <h3>زانیاری جۆری وەرگرتن</h3>
            <hr />
            <div class="topProp">
                <h5>
                    @Html.DisplayNameFor(model => model.StudentDepartmentInfo.Department)
                </h5>
                <h4 class="hTXT">
                    @Html.DisplayFor(model => model.StudentDepartmentInfo.Department)
                </h4>
            </div>
            <div class="PropInfo">
                <h5>
                    @Html.DisplayNameFor(model => model.StudentDepartmentInfo.AcceptanceType)
                </h5>
                <h4 class="hTXT">
                    @Html.DisplayFor(model => model.StudentDepartmentInfo.AcceptanceType)
                </h4>
            </div>

            <div class="PropInfo">
                <h5>
                    @Html.DisplayNameFor(model => model.StudentDepartmentInfo.UniversityCommandNo)
                </h5>
                <h4 class="hTXT">
                    @Html.DisplayFor(model => model.StudentDepartmentInfo.UniversityCommandNo)
                </h4>
            </div>

            <div class="PropInfo">
                <h5>
                    @Html.DisplayNameFor(model => model.StudentDepartmentInfo.AdministratorCommandNo)
                </h5>
                <h4 class="hTXT">
                    @Html.DisplayFor(model => model.StudentDepartmentInfo.AdministratorCommandNo)
                </h4>
            </div>

            <div class="PropInfo">
                <h5>
                    @Html.DisplayNameFor(model => model.StudentDepartmentInfo.Seq)
                </h5>
                <h4 class="hTXT">
                    @Html.DisplayFor(model => model.StudentDepartmentInfo.Seq)
                </h4>
            </div>

            <div class="PropInfo">
                <h5>
                    @Html.DisplayNameFor(model => model.StudentDepartmentInfo.ResidenceType)
                </h5>
                <h4 class="hTXT">
                    @Html.DisplayFor(model => model.StudentDepartmentInfo.ResidenceType)
                </h4>
            </div>
            <div class="OneRowTowColumn PropInfo">
                <div class="PropInfo">
                    <h5>
                        @Html.DisplayNameFor(model => model.StudentDepartmentInfo.startinYear)
                    </h5>
                    <h4 class="hTXT">
                        @Html.DisplayFor(model => model.StudentDepartmentInfo.startinYear)
                    </h4>
                </div>
                <div class="PropInfo">
                    <h5>
                        @Html.DisplayNameFor(model => model.StudentDepartmentInfo.Stage)
                    </h5>
                    <h4 class="hTXT">
                        @Html.DisplayFor(model => model.StudentDepartmentInfo.Stage)
                    </h4>
                </div>
            </div>
        </div>
    </div>
    <div class="bttnContainer">
        <a asp-controller="Print" asp-action="Index" class="EditBttn" asp-route-id="@Model.PersonalStudent.Id">پرنت کردن</a>
        <a asp-controller="Invoices" asp-action="Index" class="EditBttn" asp-route-id="@Model.PersonalStudent.Id">وەسڵەکان</a>
        <a asp-controller="Students" asp-action="Gallery" class="EditBttn" asp-route-id="@Model.PersonalStudent.Id">بەڵگەنامەکان</a>
        <a asp-controller="StudentStages" asp-action="Index" class="EditBttn" asp-route-id="@Model.PersonalStudent.Id">ڕەوشی خوێندکار</a>
        <a asp-action="Edit" class="EditBttn" asp-route-id="@Model.PersonalStudent.Id">نوێ کردنەوە</a>
    </div>
</div>



