@using System.ComponentModel
@model (List<GPU.Models.HomeModel> model,decimal RowCount)
@{
    ViewData["Title"] = "سەرەتا";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="home-container">

    <div class="home-RowOne">
        <div class="RightLogo hTitle">
            <h2 >پەیمانگای تەکنیکی کەلار</h2>
            <p>
                کۆی گشتی تۆمارکراوان @Model.RowCount 
                </p>
            <p>@User.Identity.Name</p>
        </div>
        <div class="CenterLogo">
            <img src="~/logo.png" class="TopLogo" />
        </div>
        <div class="LeftLogo hTitle">
            <h2 class="TopHeaderTitle">هـــۆبـــەی تـــۆمـــارگـــە</h2>
            @{
                TimeZoneInfo timeZone = TimeZoneInfo.CreateCustomTimeZone(
                "Arabian Standard Time", TimeSpan.FromHours(3), "Iraq Standard Time", "Iraq Standard Time"
                );

                // Get the current time in the specified time zone (Erbil)
                DateTime dateTimeInTimeZone = TimeZoneInfo.ConvertTime(DateTime.Now, timeZone);

                string tt = dateTimeInTimeZone.ToString("tt") == "AM" ? "پ.ن" : "د.ن";
            }
            <p>
                @{
                
                }
                <span class="TimeSet"> @dateTimeInTimeZone.ToString("mm : hh ") @tt </span>
                @{
                    string Day = "";
                    switch (dateTimeInTimeZone.DayOfWeek)
                    {
                        case DayOfWeek.Sunday:
                            Day = "یەک شەممە";
                            break;
                        case DayOfWeek.Monday:
                            Day = "دوو شەممە";
                            break;
                        case DayOfWeek.Tuesday:
                            Day = "سێ شەممە";
                            break;
                        case DayOfWeek.Wednesday:
                            Day = "چوار شەممە";
                            break;
                        case DayOfWeek.Thursday:
                            Day = "پێنج شەممە";
                            break;
                        case DayOfWeek.Friday:
                            Day = "هەینی";
                            break;
                        case DayOfWeek.Saturday:
                            Day = "شەممە";
                            break;
                    }
                }
                <span class="DaySet"> @Day</span>
            </p>
            <p class="TimeSet"> @DateTime.Now.ToString("yyyy - MM - dd")  </p>
        </div>
    </div>
    <div class="home-RowTow">
        @foreach (var item in Model.model.Where(x=>x.Title != "-1"))
        {
            <div>
                <h2>@item.No</h2>
                <p>@item.Title</p>
            </div>
        }

    </div>
</div>
