@model (List<GPU.Models.StaticalTableModel> student,GPU.Models.StaticalTableModel table,List<WebProperties> props,List<UsersAccessToDepsModel> access)
@using System.Security.Claims;
@{
    ViewData["Title"] = "ئاماری گشتی";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="get" asp-controller="StaticalView" asp-action="Search" id="myForm">
    <div class="StaticSearchBar ">
        <div class="Static-ColOne element" id="Static-ColOne">
            <input asp-for="table.Name" name="table.Name" id="searchInput" oninput="submitForm()" form="myForm" class="StaticalNameTXT Span2"
                   placeholder="ناوی خوێندکار" />
         
            <select asp-for="table.MartialStatus" name="table.MartialStatus" class="StaticalNameTXT" onchange="submitForm()"
                    form="myForm">
                <option value="-">ڕەوشی کەسێتی</option>
                @foreach (var item in Model.props.Where(x => x.propType.Contains("MartialStatus") && x.isActive == true))
                {
                    <option value="@item.Name">@item.Name</option>
                }
            </select>
          
            <select asp-for="table.EducationType" name="table.EducationType" class="StaticalNameTXT" onchange="submitForm()"
                    form="myForm">
                <option value="-">جۆری خوێندن</option>
                <option value="زانستی">زانستی</option>
                <option value="وێژەیی">وێژەیی</option>
                <option value="پیشەیی">پیشەیی</option>
            </select>
        
            <select asp-for="table.SchoolGraduation" name="table.SchoolGraduation" class="StaticalNameTXT" onchange="submitForm()"
                    form="myForm">
                <option value="-" class="YearOptions">دەرچوونی پۆلی ١٢</option>

                @for (int year = DateTime.Now.Year; year >= 1995; year--)
                {
                    int yr = year - 1;
                    string yrr = $"{@year} - {@yr}";
                    <option value="@yrr" class="YearOptions">@year - @yr </option>
                }
            </select>
            <select asp-for="table.Sex" name="table.Sex" class="StaticalNameTXT" onchange="submitForm()"
                    form="myForm">
                <option value="-" class="YearOptions">رەگەز</option>
                <option value="نێر" class="YearOptions">نێر</option>
                <option value="مێ" class="YearOptions">مێ</option>
            </select>

            <select asp-for="table.Graduation" name="table.Graduation" class="StaticalNameTXT" onchange="submitForm()" form="myForm">
                <option value="0" class="YearOptions">ساڵی کۆتای</option>
                @for (int year = DateTime.Now.Year; year >= 1995; year--)
                {
                    int yr = year - 1;
                    string yrr = $"{@year} - {@yr}";

                    <option value="@yrr" class="YearOptions">@year - @yr </option>
                }
            </select>
        </div>
        <div class="Static-ColTow">
            <button asp-controller="StaticalView" asp-action="Search" class="Segoe" asp-route-doSearch="@false">
                &#xE711;
            </button>
            <button asp-controller="StaticalView" asp-action="Search" class="Segoe" asp-route-DoPrint="@true">
                &#xEC51;
            </button>
        </div>


    </div>
</form>
<div class="table-container element">
    <table>
        <thead>
            <tr>
                <th>
                    ژ
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.table.Name)
                </th>
                <th>
                    <select asp-for="table.Age" name="table.Age" class="HeaderFilter" onchange="submitForm()"
                            form="myForm">
                        <option value="0" class="YearOptions">تەمەن</option>

                        @for (int year = 1980; year <= DateTime.Now.Year - 16; year++)
                        {
                            <option value="@year" class="YearOptions">@year</option>
                        }
                    </select>
                </th>
                <th>
                    <select asp-for="table.Province" name="table.Province" class="HeaderFilter" onchange="submitForm()"
                            form="myForm">
                        <option value="-">پارێزگا</option>
                        @foreach (var item in Model.props.Where(x => x.propType.Contains("Province") && x.isActive == true))
                        {
                            <option value="@item.Name">@item.Name</option>
                        }
                    </select>
                </th>
                <th>
                    <select asp-for="table.Nationality" name="table.Nationality" class="HeaderFilter" onchange="submitForm()" form="myForm">
                        <option value="-">نەتەوە</option>
                        @foreach (var item in Model.props.Where(x => x.propType.Contains("Nationality") && x.isActive == true))
                        {
                            <option value="@item.Name">@item.Name</option>
                        }
                    </select>
                </th>
                <th>
                    <select asp-for="table.Religion" name="table.Religion"  class="HeaderFilter" onchange="submitForm()" form="myForm">
                        <option value="-">ئاین</option>
                        @foreach (var item in Model.props.Where(x => x.propType.Contains("Religion") && x.isActive == true))
                        {
                            <option value="@item.Name">@item.Name</option>
                        }

                    </select>
                </th>
                <th>
                    پۆلی ١٢
                </th>
                <th>
                    <select asp-for="table.Department" name="table.Department" form="myForm"
                            class="HeaderFilter" onchange="submitForm()">
                        <option value="-">بەش</option>
                        @foreach (var item in Model.props.Where(x => x.propType.Contains("Department") &&
                        x.isActive))
                        {
                            if (Model.access.Any(x => x.depid == item.id && x.usrid.ToString() == User.FindFirst(ClaimTypes.NameIdentifier)?.Value))
                            {
                                <option value="@item.Name">@item.Name</option>

                            }
                            else
                            {
                                continue;
                            }
                        }
                    </select>
                </th>
                <th>
                    <select asp-for="table.AcceptanceType" name="table.AcceptanceType"
                            form="myForm" class="HeaderFilter" onchange="submitForm()">
                        <option value="-">جۆری وەرگرتن</option>
                        <option value="زانکۆلاین">زانکۆلاین</option>
                        <option value="پاراڵیل">پاراڵیل</option>
                        <option value="ئێواران">ئێواران</option>
                    </select>
                </th>

                <th>
                    <select asp-for="table.Stage" name="table.Stage" form="myForm" class="HeaderFilter" onchange="submitForm()">
                        <option value="0" class="YearOptions">قۆناغ</option>
                        <option value="1" class="YearOptions">1</option>
                        <option value="2" class="YearOptions">2</option>
                    </select>
                </th>
         
                <th>
                    <select asp-for="table.ResidenceType" name="table.ResidenceType" form="myForm" class="HeaderFilter" onchange="submitForm()">
                        <option value="-" class="YearOptions">بەشەناوخۆی</option>
                        <option value="نەخێر" class="YearOptions">نەخێر</option>
                        <option value="بەڵی" class="YearOptions">بەڵێ</option>
                    </select>
                </th>

                <th>
                    <select asp-for="table.StartingYear" name="table.StartingYear" form="myForm" class="HeaderFilter" onchange="submitForm()">
                        <option value="-" class="YearOptions">ساڵی دەستپێک</option>

                        @for (int year = DateTime.Now.Year + 1; year >= 1995; year--)
                        {
                            int yr = year - 1;
                            string yrr = $"{@year} - {@yr}";
                            <option value="@yrr" class="YearOptions">@year - @yr </option>
                        }
                    </select>               
                    @Model.student.Count()

                </th>
                
         
            </tr>
        </thead>
        <tbody>

            @{
                int x = 0;
            }
            @foreach (var item in Model.student)
            {

                var dep = GPU.Services.WebPropsServices.MergedProps.FirstOrDefault(x => x.Name.Contains(item.Department));
                if (dep != null)
                {
                    var access = Model.access.Any(x => x.depid == dep.id && x.usrid.ToString() == User.FindFirst(ClaimTypes.NameIdentifier)?.Value);
                    if (access)
                    {

                        x++;
                        <tr>
                            <td>
                                @x
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Age)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Province)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Nationality)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Religion)

                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EducationType) <br />
                                @Html.DisplayFor(modelItem => item.SchoolGraduation)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Department)

                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AcceptanceType)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Stage)

                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ResidenceType)

                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.StartingYear)

                            </td>
                        </tr>

                    }
                }
            }

        </tbody>
    </table>
</div>
<script>
    window.onload = function () {
          const lastFocusedElementId = localStorage.getItem('lastFocusedElementId');

          if (lastFocusedElementId) {
              const lastFocusedElement = document.getElementById(lastFocusedElementId);
              if (lastFocusedElement) {
                  // Restore focus
                  lastFocusedElement.focus();

                  // Optionally, set the cursor to the end of the input field
                  if (lastFocusedElement.tagName === 'INPUT' || lastFocusedElement.tagName === 'TEXTAREA') {
                      lastFocusedElement.setSelectionRange(lastFocusedElement.value.length, lastFocusedElement.value.length);
                  }
              }
          }
      };
      function submitForm() {

           const focusedElement = document.activeElement;
        if (focusedElement) {
            localStorage.setItem('lastFocusedElementId', focusedElement.id);
        }


        document.getElementById("myForm").submit();

      }

</script>