@model IEnumerable<GPU.Models.StudentTableModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4 class="Title">لیستی خوێندکاران</h4>

<div class="content">
    <div class="table-container">

        <table>
            <thead>
                <tr>
                    <th class="Header">
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th class="Header">
                        @Html.DisplayNameFor(model => model.Acceptance)
                    </th>
                    <th class="Header">
                        @Html.DisplayNameFor(model => model.department)
                    </th>
                    <th class="Header">
                        @Html.DisplayNameFor(model => model.StartingYear)
                    </th>
                    <th class="Header">
                        @Html.DisplayNameFor(model => model.Stage)
                    </th>
                   
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="DgColumn">
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td class="DgColumn">
                            @Html.DisplayFor(modelItem => item.Acceptance)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.department)
                        </td>

                        <td class="DgColumn">
                            @Html.DisplayFor(modelItem => item.StartingYear)
                        </td>
                        <td class="DgColumn">
                            @Html.DisplayFor(modelItem => item.Stage)
                        </td>
                      
                        <td>
                            <a asp-action="Details" asp-route-id="@item.id" class="SubActions">زانیاریەکان</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    </div>
