@model (GPU.Models.StudentDepartmentInfo dep,IEnumerable<GPU.Models.InvoiceInfo> invoices, GPU.Models.InvoiceInfo InvoiceModel)
@{
    ViewData["Title"] = "وەسڵی خوێندکار";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h4 class="Title">وەسڵی خوێندکار - @Html.DisplayFor(model => model.InvoiceModel.Name)</h4>
<form method="post" asp-controller="Invoices" asp-action="ARSearch">
    <div class="SearchBar">
        <div class="SearchChild SearchBox">
            <label asp-for="InvoiceModel.InvoiceDate" class="control-label"></label>
            <input asp-for="InvoiceModel.InvoiceDate" name="InvoiceModel.InvoiceDate" type="date" style="min-width:20vh;" class="SearchTXT" />

        </div>
        <div class="button-container" style="margin-top:3%;">
            <button type="submit" class="SearchBttn" asp-action="ARSearch" asp-route-id="@Model.dep.SID">گەڕان</button>
        </div>
    </div>

</form>
<div class="DivToNewInvoiceBTTN">
    <button type="submit" class="SearchBttn NewInvoice" id="openModalButton" onclick="openModel()">وەسڵی نوێ</button>
</div>

<div class="content">
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th class="Header FirstColumn">
                        @Html.DisplayNameFor(model => model.InvoiceModel.InvoiceId)
                    </th>
                    <th class="Header">
                        @Html.DisplayNameFor(model => model.InvoiceModel.InvoiceDate)
                    </th>
                    <th class="Header">
                        @Html.DisplayNameFor(model => model.InvoiceModel.Amount)
                    </th>
                    <th class="Header lastColumn">
                    </th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td class="r1" />
                    <td class="r1" />
                    <td class="r1" />
                </tr>
                @foreach (var item in Model.invoices)
                {
                    <tr>
                        <td class="DgColumn @(item.isFirst ? "RowOneColumnOne" :"")">
                            @Html.DisplayFor(modelItem => item.InvoiceId)
                        </td>
                        <td class="DgColumn">
                            @Html.DisplayFor(modelItem => item.InvoiceDate)
                        </td>
                        <td class="DgColumn">
                            @Html.DisplayFor(modelItem => item.Amount)
                        </td>
                        <td class="@(item.isFirst ? "RowOneColumnLast" :"")">
                            <a onclick="OpenEdit(this)"
                               class="dgActionBttn"
                               id="openEditModalButton"
                               data-id="@item.InvoiceId"
                               data-date="@item.InvoiceDate"
                               data-amount="@item.Amount"
                               data-IID="@item.id">نوێ کردنەوە</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div id="customModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2>وەسڵی نوێ بۆ خوێندکار - <span style="color:#008374;">@Html.DisplayFor(model => model.InvoiceModel.Name)</span> </h2>
        <form method="post" asp-action="ArNewInvoice" class="FormOfInsert">
            <div class="form-group">
                <label asp-for="InvoiceModel.InvoiceId" style="text-align:right;" class="control-label"></label>
                <input asp-for="InvoiceModel.InvoiceId" name="InvoiceModel.InvoiceId" class="form-control" />
                <span asp-validation-for="InvoiceModel.InvoiceId" class="text-danger"></span>

            </div>
            <div class="form-group" style="margin-block:10px;">
                <label asp-for="InvoiceModel.InvoiceDate" style="text-align:right;" class="control-label"></label>
                <input asp-for="InvoiceModel.InvoiceDate" type="date" name="InvoiceModel.InvoiceDate" class="form-control" />
                <span asp-validation-for="InvoiceModel.InvoiceDate" class="text-danger"></span>

            </div>
            <div class="form-group">
                <label asp-for="InvoiceModel.Amount" style="text-align:right;" class="control-label"></label>
                <input asp-for="InvoiceModel.Amount" name="InvoiceModel.Amount" class="form-control" />
                <span asp-validation-for="InvoiceModel.Amount" class="text-danger"></span>

                <input asp-for="InvoiceModel.SID" hidden name="InvoiceModel.SID" class="form-control" />
            </div>
            <div class="InsertFooter">
                <button type="submit" id="savePromptValue" class="SaveNewInvoiceBttn">وەرگرتن</button>
            </div>
        </form>

    </div>
</div>

<div id="UpdateModal" class="modal">
    <div class="modal-content">
        <span class="close" id="CloseEdit">&times;</span>
        <h2> نوێ کردنەوەی وەسڵ بۆ خوێندکار - <span style="color:#008374;">@Html.DisplayFor(model => model.InvoiceModel.Name)</span> </h2>
        <form method="post" asp-action="arEditInvoice" class="FormOfInsert">
            <div class="form-group">
                <label asp-for="InvoiceModel.InvoiceId" style="text-align:right;" class="control-label"></label>
                <input asp-for="InvoiceModel.InvoiceId" id="invoiceIdField" name="InvoiceModel.InvoiceId" class="form-control" />
                <span asp-validation-for="InvoiceModel.InvoiceId" class="text-danger"></span>

            </div>
            <div class="form-group" style="margin-block:10px;">
                <label asp-for="InvoiceModel.InvoiceDate" style="text-align:right;" class="control-label"></label>
                <input asp-for="InvoiceModel.InvoiceDate" id="invoiceDateField" type="date" name="InvoiceModel.InvoiceDate" class="form-control" />
                <span asp-validation-for="InvoiceModel.InvoiceDate" class="text-danger"></span>

            </div>
            <div class="form-group">
                <label asp-for="InvoiceModel.Amount" style="text-align:right;" class="control-label"></label>
                <input asp-for="InvoiceModel.Amount" id="invoiceAmountField" name="InvoiceModel.Amount" class="form-control" />
                <span asp-validation-for="InvoiceModel.Amount" class="text-danger"></span>

                <input asp-for="InvoiceModel.id" hidden id="iID" name="InvoiceModel.id" class="form-control" />
                <input asp-for="InvoiceModel.SID" hidden id="iID" name="InvoiceModel.SID" class="form-control" />
            </div>
            <div class="InsertFooter">
                <button type="submit" id="savePromptValue" class="SaveNewInvoiceBttn">نوێ کردنەوە</button>
            </div>
        </form>
    </div>
</div>
<script>
    // Get modal elements
    var modal = document.getElementById("customModal");
    var Editmodal = document.getElementById("UpdateModal");
    var btn = document.getElementById("openModalButton");
    var closeBtn = document.getElementsByClassName("close")[0];
    var closeEditBtn = document.getElementsByClassName("close")[1];

    function OpenEdit(button) {
        Editmodal.style.display = "block";
        var invoiceId = button.getAttribute("data-id");
        var invoiceDate = button.getAttribute("data-date");
        var invoiceAmount = button.getAttribute("data-amount");
        var IID = button.getAttribute("data-IID");

        console.log("Invoice ID:", invoiceId);
        console.log("Invoice Date:", invoiceDate);
        console.log("Invoice Amount:", invoiceAmount);
        document.getElementById('invoiceIdField').value = invoiceId;
        document.getElementById('invoiceDateField').value = invoiceDate;
        document.getElementById('invoiceAmountField').value = invoiceAmount;
        document.getElementById('iID').value = IID;
    }
    // Open the modal when the user clicks the button
    btn.onclick = function () {
        modal.style.display = "block";
    }

    closeBtn.onclick = function () {
        modal.style.display = "none";
    }
    closeEditBtn.onclick = function () {
        Editmodal.style.display = "none";
    }
    window.onclick = function (event) {
        if (event.target == modal || event.target == Editmodal) {
            modal.style.display = "none";
            Editmodal.style.display = "none";
        }
    }

</script>


